body {
  background-color: peru;
  margin: 0;
  font-family: 'Hepta Slab', serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
